html, body {
  scrollbar-width: none;          /* Firefox */
  -ms-overflow-style: none;       /* IE and Edge */
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none;                  /* Chrome, Safari, and Opera */
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  min-height: 100vh;       /* at least full viewport height */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;             /* spacing between sections */
  overflow-y: auto;        /* allow vertical scroll if content is too tall */
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
